<button type="button" class="btn-machine " data-toggle="modal" data-target="#marmite">Home appliance</button>
<div class="modal fade bd-example-modal-lg" id="marmite" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="container my-5 z-depth-1">


            <!--Section: Content-->
            <section class="color-text">

                <div class="row pr-lg-5">
                    <div class="col-md-7 mb-4">

                        <div class="view">
                            <img src="/assets/images/lavevaisselle.jpg" class="img-fluid" alt="dishwasher">
                        </div>

                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div>

                            <h3 class="font-weight-bold mb-4">Dishwasher</h3>
                            <h4> Price: 3wood, 2 shield</h4>

                            <p>Robot for washing stolen in US 20 days ago perfect condition.</p>

                            <button type="button" class=" btn-orange btn-rounded mx-0">Buy</button>

                        </div>
                    </div>

                </div>

            </section>
            <section class="color-text">

                <div class="row pr-lg-5">
                    <div class="col-md-7 mb-4">

                        <div class="view">
                            <img src="/assets/images/coffe.jpg" class="img-fluid" alt="coffee">
                        </div>

                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div>

                            <h3 class="font-weight-bold mb-4">Coffee machine</h3>
                            <h4> Price: your axe</h4>

                            <p>This liquid will allow you to go into battle in great shape and full of aggressiveness !!!</p>

                            <button type="button" class=" btn-orange btn-rounded mx-0">Buy</button>

                        </div>
                    </div>

                </div>

            </section>

            <!--Section: Content-->


        </div>

    </div>
</div>

