<button type="button" class="btn-other " data-toggle="modal" data-target="#other">Other article</button>
<div class="modal fade bd-example-modal-lg" id="other" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="container my-5 z-depth-1">


            <!--Section: Content-->
            <section class="color-text">

                <div class="row pr-lg-5">
                    <div class="col-md-7 mb-4">

                        <div class="view">
                            <img src="/assets/images/banane-capote.jpg" class="img-fluid" alt="condom">
                        </div>

                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div>

                            <h3 class="font-weight-bold mb-4">Condom</h3>
                            <h4> Price: 2 biers</h4>

                            <p>You will avoid spending too much money on your family because avoid family overpopulation.</p>

                            <button type="button" class=" btn-orange btn-rounded mx-0">Buy</button>

                        </div>
                    </div>

                </div>

            </section>
            <section class="color-text">

                <div class="row pr-lg-5">
                    <div class="col-md-7 mb-4">

                        <div class="view">
                            <img src="/assets/images/boxbanane.jpg" class="img-fluid" alt="banana box">
                        </div>

                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div>

                            <h3 class="font-weight-bold mb-4">Banana box</h3>
                            <h4> Price: 1 sheep</h4>

                            <p>Just to take your banana to battle !</p>

                            <button type="button" class=" btn-orange btn-rounded mx-0">Buy</button>

                        </div>
                    </div>

                </div>

            </section>

            <!--Section: Content-->


        </div>

    </div>
</div>