<button type="button" class="btn-other " data-toggle="modal" data-target="#other">Other article</button>
<div class="modal fade bd-example-modal-lg" id="other" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="container my-5 z-depth-1">


            <!--Section: Content-->
            <section class="color-text">

                <div class="row pr-lg-5">
                    <div class="col-md-7 mb-4">

                        <div class="view">
                            <img src="/assets/images/trottinette.jpg" class="img-fluid" alt="electric-scooter-img">
                        </div>

                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div>

                            <h3 class="font-weight-bold mb-4">Electric scooter</h3>
                            <h4> Price: 10 biers, 12, cows, 8 rabbit, 1 child</h4>

                            <p>Stolen in islande. This item allows you to move at full speed on the battlefield. You will be the first to loot the villages during the raids. Product in test phase.</p>

                            <button type="button" class=" btn-orange btn-rounded mx-0">Buy</button>

                        </div>
                    </div>

                </div>

            </section>
            <section class="color-text">

                <div class="row pr-lg-5">
                    <div class="col-md-7 mb-4">

                        <div class="view">
                            <img src="/assets/images/boxbanane.jpg" class="img-fluid" alt="banana box">
                        </div>

                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div>

                            <h3 class="font-weight-bold mb-4">Banana box</h3>
                            <h4> Price: 1 sheep</h4>

                            <p>Just to take your banana to battle !</p>

                            <button type="button" class=" btn-orange btn-rounded mx-0">Buy</button>

                        </div>
                    </div>

                </div>

            </section>

            <!--Section: Content-->


        </div>

    </div>
</div>