<header>
    <nav class="navbar navbar-expand-lg navbar-lebonviking fixed-top">
        <a class="navbar-title" href="#">LeBonViking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="logo" src="/assets/images/logo2.gif" alt="'Logo">
        <div class="card-search text-center">
            <div class="card-body-search">
                <form class="form-inline md-form mr-auto mb-4">
                    <input class="form-control-search" type="text" placeholder="Search your article" aria-label="Search">
                </form>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Connexion</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

