{% extends 'layout.html.twig' %}

    {% block content %}
    <div>
        <div class="carousel-item">
            <img src="" alt="test">
                <div class="carousel-caption d-none d-md-block">
                    <h5>image test</h5>
                        <p>...</p>
                </div>
        </div>
    </div>
    <div>
    <div class="card-search text-center">
            <div class="card-body-search">
                    <form class="form-inline md-form mr-auto mb-4">
                            <input class="form-control-search" type="text" placeholder="Search your article" aria-label="Search">
                            <button class="btn-search aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
                    </form>
            </div>
    </div>
    <img class="img-background" src="/assets/images/viking-long-house-3.jpg" alt="background-salle-viking">

{% endblock %}


