@font-face {
    font-family: "Viking-eula";
    src: url('../font/viking(1)/Viking.ttf');
}

.bouclier1, .bouclier2, .bouclier3 {
    float: left;
    width: 5em;

}

.bouclier4, .bouclier5, .bouclier6{
    float: right;
    width: 5em;
}

.title2{
    border-style: inset;
    background-color: #272a2e;
    color:whitesmoke;
}

.title-h2 {
    line-height: 3;
    margin-top: 8px;
}


.logo{
    width: 5%;
}

.navbar{
    background-color: #272a2e;
}

.nav{
    border-bottom-color: #272a2e;
    border-bottom: 5px;
}

.navbar-title {
    color:orangered;
}

.collapse .navbar-nav {
    display:flex;
    justify-content: left;
}
.nav-link{
    color: whitesmoke;
}
.nav-link:hover{
    color:#272a2e;
}

.logo{
    position:relative;
}
.title-h2{
    display: flex;
    justify-content: center;
}

.card-search{
    width:50%;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.card-body-search{
    opacity: 80%;
    padding-top: 1.5em;
}



.form-control-search{
    width:500px;
    height: 34px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.modal-content{
    background-color: #272a2e;
    color: whitesmoke;
    opacity: 70%;
}
img.img-background{
    display: flex;
    flex:1;
    width: 100%;
    height: auto;
}
.page-footer{
    background-color: #272a2e;
    color: white;
}

.footer-link{
    color:white;
}
.footer-link:hover{
    color:orangered;
}

.copyright{
    color:orangered;
}

.text-uppercase{
    color:orangered;
}


/* Css taille texte nav*/

ul, li{
    font-size: 20px;
}

.navbar-title {
    font-size: 30px;
}

.btn-marmite{
    margin-left: 50%;
    position:relative;
    bottom:38em;
    opacity: 50%;
    background-color: black;
    color:white;
}
.color-text{
    color:whitesmoke;
}
.btn-orange{
    background-color: #272a2e;
    color:whitesmoke;
}
.btn-machine{
    bottom:52em;
    position:relative;
    left:7em;
    opacity: 50%;
    background-color: black;
    color:white;
}

.btn-other{
    position:relative;
    right:48em;
    bottom:52em;
    opacity: 50%;
    background-color: black;
    color:white;
}
.btn-modal-close{
    background-color: #272a2e;
    color:whitesmoke;
    opacity: 50%;
    border-color: whitesmoke;
}
.btn-modal-close:hover{
    text-decoration: none;
    color: whitesmoke;
    background-color: #272a2e;
    border-color: whitesmoke;
}
.btn-add{
    background-color: #272a2e;
    color:whitesmoke;
    opacity: 50%;
    border-color: whitesmoke;!important;

}
.btn-add:hover{
    text-decoration: none;
    color: whitesmoke;
    background-color: #272a2e;
    border-color: whitesmoke;
}

.navbar-title, ul, li, p, h2, h3, h4, h5, h6, button, input, label, a, textarea {
    font-family: "Viking-eula";
}

.art-degrade, .navbar-title, .title-h2, h5, label, .form-control-file, .btn{
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.nav-link:hover{
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
