.navbar{
    background-color: white;

}
.nav{
    border-bottom-color: #272a2e;
    border-bottom: 5px;
}

.navbar-title {
    color:orangered;
}

.collapse .navbar-nav  {

    padding-left: 90em;
}
.nav-link{
    color: black;
}

.logo{
    position:relative;
}

.card-search{
    width:50%;
    display:flex;
    justify-content: center;
    margin-left:25em;
    text-align: center;
    flex-direction: column;
    position:relative;
    top:8em;
}

.card-body-search{
    opacity: 80%;
    display:flex;
    justify-content: center;
    padding-top: 1.5em;


}
.btn-search{
    color: white;
    background-color: #272a2e;
    margin-left: 10px;
    border-radius: 10%;
}
.form-control-search{
    width:500px;
    height: 34px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 210px;
}
img.img-background{
    display: flex;
    flex:1;
    width: 100%;
    height: auto;
}
.page-footer{
    background-color: #272a2e;
    color: white;
}

.footer-link{
    color:white;
}
.footer-link:hover{
    color:orangered;
}

.copyright{
    color:orangered;
}

.text-uppercase{
    color:orangered;
}
.btn-marmite{
    margin-left: 50%;
    position:relative;
    bottom:38em;
    opacity: 50%;
    background-color: black;
    color:white;
}
.color-text{
    color:whitesmoke;
}
.btn-orange{
    background-color: #272a2e;
    color:whitesmoke;
}


