@font-face {
    font-family: "Viking-eula";
    src: url('../font/viking(1)/Viking.ttf');
}



.logo{
    width: 5%;
}

.navbar{
    background-color: white;
}

.nav{
    border-bottom-color: #272a2e;
    border-bottom: 5px;
}

.navbar-title {
    color:orangered;
}

.collapse .navbar-nav {
    display:flex;
    justify-content: left;
}
.nav-link{
    color: #272a2e;
}

.logo{
    position:relative;
}
.title-h2{
    display: flex;
    justify-content: center;
}

.card-search{
    width:50%;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.card-body-search{
    opacity: 80%;
    padding-top: 1.5em;
}



.form-control-search{
    width:500px;
    height: 34px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 380px;
}
img.img-background{
    display: flex;
    flex:1;
    width: 100%;
    height: auto;
}
.page-footer{
    background-color: #272a2e;
    color: white;
}

.footer-link{
    color:white;
}
.footer-link:hover{
    color:orangered;
}

.copyright{
    color:orangered;
}

.text-uppercase{
    color:orangered;
}


/* Css taille texte nav*/

ul, li{
    font-size: 20px;
}

.navbar-title {
    font-size: 30px;
}

.btn-marmite{
    margin-left: 50%;
    position:relative;
    bottom:38em;
    opacity: 50%;
    background-color: black;
    color:white;
}
.color-text{
    color:whitesmoke;
}
.btn-orange{
    background-color: #272a2e;
    color:whitesmoke;
}
.btn-machine{
    bottom:52em;
    position:relative;
    left:7em;
    opacity: 50%;
    background-color: black;
    color:white;
}

.btn-other{
    position:relative;
    right:48em;
    bottom:52em;
    opacity: 50%;
    background-color: black;
    color:white;
}

.navbar-title,ul,li,p,h6,button,input{
    font-family: "Viking-eula";
}